<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%  url 'index' %}
    <ul>
    {% for item in menu_items %}
        {% if item == object %}
            <li> <a href={% url 'index' %}{{ object.slug }} >{{ object.slug }}</a></li>
            <ul>
            {% for child in children %}
                <li> <a href={% url 'index' %}{{ child.slug }} >{{ child.slug }}</a></li>
            {% endfor %}
            </ul>
        {% elif item not in children %}
            <li> <a href={% url 'index' %}{{ item.slug }}>{{ item.slug }}</a></li>
        {% endif %}
        {% endfor %}

    </ul>
</body>
</html>